RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule  http://www.ishtari.gh.com/5050 [NC]
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /index.html [L]
     